@import "variable";

html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	background-color: $html;
}
body {
	position: relative;
	background-color: $efefef;
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
	height: 100vh;
}
body * {
	font-family: "Noto Sans KR", sans-serif;
	letter-spacing: 0;
	box-sizing: border-box;
	color: $text;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
	color: inherit;
}

.inner {
	width: 90%;
	margin: 0 auto;
}
button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}
