@import "variable";
header {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: $white;
	z-index: 999;
	width: 100%;
	max-width: 800px;
	.headerWrap {
		display: flex;
		padding: 20px 0 10px 0;
		justify-content: space-between;
		.today {
			display: flex;
			gap: 5px;
			align-items: center;
			p {
				display: inline-block;
				font-size: 25px;
				font-weight: bold;
			}
			span {
				display: inline-block;
				height: 24px;
				background-color: $black;
				color: $white;
				border-radius: 3px;
				overflow: hidden;
				font-size: 12px;
				font-weight: bold;
				line-height: 12px;
				padding: 6px 12px;
			}
		}
		ul.subMenu {
			display: flex;
			gap: 20px;
			li {
				a {
					display: block;
					width: 25px;
					height: 25px;
					text-align: center;
					i {
						font-size: 25px;
						color: $black;
					}
				}
			}
		}
	}
}
