@import "variable";
header {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: $white;
	z-index: 99;
	width: 100%;
	max-width: 800px;
	.headerWrap {
		display: flex;
		padding: 20px 0 10px 0;
		justify-content: space-between;
		.today {
			display: flex;
			gap: 5px;
			align-items: center;
			a {
				font-family: "Anton", sans-serif;
				display: inline-block;
				font-size: 25px;
			}
		}
		ul.subMenu {
			display: flex;
			gap: 20px;
			li {
				a {
					display: block;
					width: 25px;
					height: 25px;
					text-align: center;
					i {
						font-size: 25px;
						color: $black;
					}
				}
			}
		}
	}
	.formWrapper {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		.inputWrapper {
			width: 80%;
			height: 40px;
			border-radius: 5px;
			background-color: $efefef;
			display: flex;
			align-items: center;
			gap: 20px;
		}
		i {
			padding-left: 10px;
			color: $b1b8c0;
		}
		input {
			width: 100%;
			border: none;
			outline: none;
			background-color: transparent;
			padding-right: 5%;
		}
	}
	.mypageWrapper {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #efefef;

		h3 {
			font-size: 25px;
			font-weight: bold;
		}
	}
}
