@import "variable";
main {
	#section1 {
		margin-top: 55px;
		background-color: $white;
		.swiper.profile {
			width: 100%;
			height: 105px;
			padding: 10px 5%;
			.swiper-slide {
				width: 60px;
				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
				}
				@each $item in $thumbnail {
					.thumbnail.#{$item} {
						background-image: url("../img/#{$item}.png");
					}
				}
				.thumbnail {
					width: 60px;
					height: 60px;
					border-radius: 30px;
				}

				p {
					font-size: 12px;
					text-align: center;
					color: $b1b8c0;
				}
				p.active {
					font-size: 14px;
					color: $black;
					font-weight: bold;
				}
			}
		}
	}
	#section2 {
		background-color: $white;

		.swiper.days {
			width: 100%;
			height: 80px;
			padding: 10px 5%;
			.swiper-wrapper {
				.swiper-slide {
					width: 50px;
					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						gap: 5px;
						width: 50px;
						height: 50px;
						border-radius: 5px;
						background-color: $ededed;
						p {
							color: $b1b8c0;
						}
						p:nth-of-type(1) {
							font-size: 13px;
						}
						p:nth-of-type(2) {
							font-size: 16px;
							font-weight: bold;
						}
						&.checked {
							background-color: $mainColor;
							p {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
	#todolist {
		width: 100%;
		padding: 20px 20px 100px;
		border-top: 1px solid #ededed;
		.groupWrap {
			margin: auto;
			margin-bottom: 20px;
			max-width: 600px;
			.group {
				position: relative;
				cursor: pointer;
				margin-bottom: 5px;
				width: 100%;
				height: 35px;
				border-radius: 5px;
				padding-left: 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				// box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
				.groupContainer {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 35px;
				}
				p.groupName {
					font-size: 16px;
					color: $white;
					line-height: 35px;
					pointer-events: none;
				}
				span {
					pointer-events: none;
					width: 45px;
					height: 35px;
					display: flex;
					justify-content: center;
					align-items: center;
					i {
						font-size: 20px;
						transition: all 0.5s;
						color: $white;
					}
				}
				&.sky {
					background-color: $sky;
				}
				&.orange {
					background-color: $orange;
				}
				&.purple {
					background-color: $purple;
				}
				&.green {
					background-color: $green;
				}
			}
			ul.list {
				width: 100%;
				height: 0;
				overflow: hidden;
				background-color: $white;
				border-radius: 5px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

				> li {
					cursor: pointer;
					height: 35px;
					display: flex;
					gap: 15px;
					align-items: center;
					padding-left: 15px;
					border-bottom: 1px solid $ededed;
					button {
						cursor: pointer;
						display: block;
						width: 55px;
						height: 35px;
						i {
							pointer-events: none;
							font-size: 30px;
							color: $efefef;
						}
					}
					p {
						flex: 1;
						line-height: 35px;
						padding-bottom: 4px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						pointer-events: none;
						font-size: 14px;
					}
				}
				button.comment {
					cursor: pointer;
					font-size: 15px;
					width: 100%;
					height: 35px;
					color: $b1b8c0;
					span {
						font-size: 15px;
						color: inherit;
					}
				}
			}
			.commentContainer {
				display: none;
				z-index: 9999;
				position: fixed;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: 100%;
				height: 100vh;
				max-width: 800px;
				background-color: rgba(0, 0, 0, 0.25);
				.commentWrapper {
					position: absolute;
					// display: flex;
					flex-direction: column;
					width: 100%;
					height: 80%;
					max-height: 600px;
					padding-bottom: 60px;
					bottom: 0;
					background-color: $white;
					border-radius: 20px 20px 0 0;
					transition: all 0.5s;

					.commentTopWrap {
						width: 100%;
						height: 70px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-left: 20px;
						p {
							font-size: 18px;
							font-weight: bold;
							span {
								margin-left: 5px;
							}
						}
						button {
							cursor: pointer;
							width: 80px;
							height: 70px;
							i {
								pointer-events: none;
								font-size: 30px;
							}
						}
					}
					.commentWrap {
						width: 100%;
						padding: 0 20px;
						overflow-y: auto;
						ul.commentList {
							padding-bottom: 50px;
							display: flex;
							flex-direction: column;
							gap: 25px;
							li.comment {
								display: flex;
								align-items: center;
								gap: 10px;
								img {
									width: 30px;
									height: 30px;
								}
								p {
									span {
										color: $mainColor;
										font-weight: bold;
									}
									&.userId {
										font-weight: bold;
									}
								}
							}
						}
					}
					.commentBottomWrap {
						position: absolute;
						bottom: 0;
						width: 100%;
						padding: 10px 20px;
						form {
							display: flex;
							align-items: center;
							gap: 15px;
							img {
								width: 40px;
								height: 40px;
							}
							input {
								flex: 1;
								height: 40px;
								border: none;
								outline: none;
							}
						}
					}
				}
				&.active {
					display: block;
					.commentWrapper {
						display: flex;
						animation: heightAni 0.8s forwards;
						@keyframes heightAni {
							0% {
								height: 0;
							}
							100% {
								height: 80%;
							}
						}
					}
				}
			}
			&.active {
				ul.list {
					height: auto;
				}
				.dropDown {
					transform: rotate(-180deg);
				}
			}
		}
		.createGroup {
			margin: auto;
			width: 100%;
			max-width: 600px;
			height: 35px;
			background-color: $white;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			padding: 0 20px;
			button {
				cursor: pointer;
				width: 100%;
				height: 100%;
				font-size: 20px;
				font-weight: 600;
				color: $b1b8c0;
			}
		}
		#addGroupFormWrap {
			position: fixed;
			z-index: 999;
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			top: 0;
			display: none;
			form.addGroupForm {
				position: absolute;
				z-index: 999;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				max-width: 500px;
				height: 200px;
				background-color: $purple;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 10px;
				overflow: hidden;
				input {
					height: 160px;
					padding: 0 20px;
					padding-bottom: 100px;
					background-color: transparent;
					border: none;
					outline: none;
					color: $white;
					&::placeholder {
						color: $white;
						font-size: 16px;
					}
				}
				.bottomWrap {
					background-color: $white;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-left: 20px;
					width: 100%;
					height: 40px;
					ul.colorWrap {
						display: flex;
						gap: 20px;
						li {
							cursor: pointer;
							i {
								font-size: 30px;
								&.purple {
									color: $purple;
								}
								&.sky {
									color: $sky;
								}
								&.green {
									color: $green;
								}
								&.orange {
									color: $orange;
								}
							}
						}
					}
					button {
						cursor: pointer;
						font-weight: bold;
						width: 60px;
						height: 40px;
						color: $mainColor;
					}
				}
			}
		}
		.buttonGroupWrap {
			position: fixed;
			z-index: 997;
			max-width: 800px;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			width: 100%;
			ul.buttonGroup {
				position: fixed;
				right: 5%;
				bottom: 80px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				li {
					cursor: pointer;
					display: flex;
					gap: 20px;
					justify-content: flex-end;
					align-items: center;
					transition: all 0.5s;
					p {
						font-size: 18px;
						font-weight: 500;
						color: $white;
						pointer-events: none;
					}
					i {
						width: 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						overflow: hidden;
						border-radius: 100%;
						background-color: white;
						font-size: 25px;
						transition: all 0.5s;
						pointer-events: none;
						&.white {
							background-color: $white;
							color: #787878;
						}
						&.blue {
							background-color: $mainColor;
							color: $white;
						}
						&.black {
							background-color: $mainColor;
							color: $white;
							filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
						}
					}
					&.todoAddBtn,
					&.groupAddBtn {
						display: none;
					}
				}
			}
			&.active {
				height: 100%;
				background-color: rgba(0, 0, 0, 0.25);
				ul.buttonGroup {
					li {
						p {
							display: block;
							text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
						}
						i {
							filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
							&.white {
								background-color: $white;
								color: #787878;
							}
							&.blue {
								background-color: $mainColor;
								color: $white;
							}
							&.black {
								background-color: #787878;
								transform: rotate(45deg);
							}
						}
						&.todoAddBtn {
							display: flex;
							animation: todoAddBtn 0.3s;
						}
						&.groupAddBtn {
							display: flex;
							animation: groupAddBtn 0.3s;
						}
						@keyframes todoAddBtn {
							0% {
								transform: translateY(120px);
							}
							100% {
								transform: translateY(0);
							}
						}
						@keyframes groupAddBtn {
							0% {
								transform: translateY(60px);
							}
							100% {
								transform: translateY(0);
							}
						}
					}
				}
			}
		}
		#addTodoFormWrap {
			position: fixed;
			z-index: 999;
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			top: 0;
			display: none;
			form.addTodoForm {
				position: absolute;
				z-index: 999;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				max-width: 500px;
				height: 200px;
				background-color: $white;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 10px;
				// overflow: hidden;
				input {
					flex: 1;
					padding: 0 20px;
					padding-bottom: 80px;
					background-color: transparent;
					border: none;
					outline: none;
					color: $black;
					&::placeholder {
						color: $c4c4c4;
						font-size: 16px;
					}
				}
				.topWrap {
					height: 40px;
					display: flex;
					align-items: center;
					padding-left: 20px;
					width: 100%;
					.selectGroup {
						position: relative;
						display: flex;
						align-items: center;
						gap: 10px;
						p {
							pointer-events: none;
						}
						.topGroupName {
							cursor: pointer;
							display: flex;
							gap: 10px;
							height: 30px;
							border: 1px solid $b1b8c0;
							border-radius: 5px;
							padding: 5px 10px;
							background-color: $mainColor;
							p.firstGroupName,
							i {
								color: $white;
								transition: all 0.5s;
							}
						}
						ul.groupList {
							position: absolute;
							display: none;
							flex-direction: column;
							background-color: #fff;
							right: 0;
							bottom: 40px;
							border-radius: 5px;
							overflow: hidden;

							li {
								cursor: pointer;
								width: 130px;
								height: 35px;
								line-height: 35px;
								padding-left: 10px;
								border-bottom: 1px solid $c4c4c4;
								transition: all 0.5s;
								&:nth-last-child(1) {
									border: none;
								}
								&:hover {
									background-color: $mainColor;
									color: $white;
								}
							}
						}
						&.active {
							i {
								transform: rotate(180deg);
							}
							ul.groupList {
								display: flex;
							}
						}
					}
				}
				.bottomWrap {
					background-color: $white;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					width: 100%;
					height: 40px;
					border-radius: 0 0 10px 10px;
					button {
						cursor: pointer;
						font-weight: bold;
						width: 60px;
						height: 40px;
						color: $mainColor;
					}
				}
			}
			&.active {
				display: block;
			}
		}
		#editTodoFormWrap {
			position: fixed;
			z-index: 999;
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			top: 0;
			display: none;
			form.editTodoForm {
				position: absolute;
				z-index: 999;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				max-width: 500px;
				height: 200px;
				background-color: $white;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 10px;
				// overflow: hidden;
				input {
					flex: 1;
					padding: 0 20px;
					padding-bottom: 80px;
					background-color: transparent;
					border: none;
					outline: none;
					color: $black;
					&::placeholder {
						color: $c4c4c4;
						font-size: 16px;
					}
				}
				.topWrap {
					height: 40px;
					display: flex;
					align-items: center;
					padding-left: 20px;
					width: 100%;
					.selectGroup {
						position: relative;
						display: flex;
						align-items: center;
						gap: 10px;
						p {
							pointer-events: none;
						}
						.topGroupName {
							display: flex;
							gap: 10px;
							border: 1px solid $b1b8c0;
							border-radius: 5px;
							padding: 5px 10px;
						}
						ul.groupList {
							position: absolute;
							display: none;
							flex-direction: column;
							background-color: #fff;
							right: 0;
							bottom: 40px;
							border-radius: 5px;
							li {
								width: 130px;
								height: 35px;
								line-height: 35px;
								padding-left: 10px;
								border-bottom: 1px solid $c4c4c4;
								&:nth-last-child(1) {
									border: none;
								}
							}
						}
						&.active {
							i {
								transform: rotate(180deg);
							}
							ul.groupList {
								display: flex;
							}
						}
					}
				}
				.bottomWrap {
					background-color: $white;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 40px;
					border-radius: 0 0 10px 10px;
					button {
						cursor: pointer;
						font-weight: bold;
						width: 60px;
						height: 40px;
						color: $mainColor;
						i {
							font-size: 20px;
							color: black;
							pointer-events: none;
						}
					}
				}
			}
			&.active {
				display: block;
			}
		}
	}
	#calendarWrap {
		display: flex;
		justify-content: center;
		margin-top: 55px;

		.calendar {
			width: 600px;
			.header {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				height: 30px;
				.year-month {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					font-size: 25px;
					font-weight: bold;
				}
				.nav {
					display: none;
					button {
						&.nav-btn {
							width: 28px;
							height: 30px;
							line-height: 34px;
							cursor: pointer;
						}
						&.go-today {
							width: 75px;
						}
					}
					&.active {
						display: flex;
					}
				}
			}
			.main {
				.days {
					display: flex;
					margin: 25px 0 10px;
					.day {
						width: calc(100% / 7);
						text-align: center;
					}
				}
				.dates {
					display: none;
					flex-flow: row wrap;
					overflow: hidden;
					.date {
						width: calc(100% / 7);
						padding: 15px;
						text-align: center;
					}
					&.active {
						display: flex;
					}
				}
				.weekDays {
					display: none;
					transition: all 0.8s;
					overflow: hidden;
					p {
						width: calc(100% / 7);
						padding: 25px;
						text-align: center;
					}
					&.active {
						display: flex;
					}
				}
			}
			.day:nth-child(7n + 1),
			.date:nth-child(7n + 1) {
				color: #d13e3e;
			}
			.day:nth-child(7n),
			.date:nth-child(7n) {
				color: #396ee2;
			}
			.other {
				opacity: 0.3;
			}
			.today {
				position: relative;
				color: #fff;
				z-index: 0;
				&:before {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: -1;
					width: 30px;
					height: 30px;
					background-color: #ff0000;
					border-radius: 50%;
				}
			}
		}
	}
	#searchWrap {
		margin-top: 60px;
	}
	.tabWrapper {
		ul.tabMenu {
			display: flex;
			justify-content: center;
			li {
				flex: 1;
				text-align: center;
				a {
					display: block;
					padding: 15px 0;
					width: 100%;
					height: 100%;
					border-bottom: 1px solid $b1b8c0;
					color: $b1b8c0;
					&.active {
						border-bottom: 2px solid $black;
						color: $black;
						font-weight: bold;
					}
				}
			}
		}
		#tabContent {
			> div {
				display: none;
				&.active {
					display: block;
				}
				.todoList {
					display: flex;
					width: 100%;
					height: 80px;
					align-items: center;
					padding: 10px 5%;
					gap: 15px;
					cursor: pointer;
					&:hover {
						background-color: rgba(187, 187, 187, 0.1);
					}
					img {
						width: 50px;
						height: 50px;
					}
					.textWrap {
						flex: 1;
						display: flex;
						flex-direction: column;
						gap: 5px;
						h3 {
							font-weight: bold;
						}
						p {
							color: $b1b8c0;
						}
					}
					&.dNone {
						display: none;
					}
				}
			}
		}
	}
	#myProfile {
		margin-top: 60px;
		.profileWrapper {
			display: flex;
			align-items: center;
			gap: 20px;
			width: 100%;
			padding: 30px 0;
			padding-left: 5%;
			img {
				width: 60px;
				height: 60px;
			}
			.textWrap {
				display: flex;
				gap: 10px;
				flex-direction: column;
				justify-content: center;

				h3 {
					font-size: 16px;
					font-weight: bold;
				}
				p {
					font-size: 16px;
					color: $b1b8c0;
				}
			}
		}
		.profileEditor {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				display: block;
				border-radius: 5px;
				width: 90%;
				line-height: 40px;
				text-align: center;
				background-color: $ededed;
				font-size: 14px;
				font-weight: bold;
				color: $black;
				cursor: pointer;
			}
		}
	}
}
