@import "variable";
main {
	margin-top: 55px;
	#section1 {
		background-color: $white;
		.swiper.profile {
			width: 100%;
			height: 105px;
			padding: 10px 5%;
			.swiper-slide {
				width: 60px;
				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 5px;
				}
				@each $item in $thumbnail {
					.thumbnail.#{$item} {
						background-image: url("../img/#{$item}.png");
					}
				}
				.thumbnail {
					width: 60px;
					height: 60px;
					border-radius: 30px;
				}

				p {
					font-size: 14px;
					text-align: center;
					color: $b1b8c0;
				}
				p.active {
					color: $black;
				}
			}
		}
	}
	#section2 {
		background-color: $white;

		.swiper.days {
			width: 100%;
			height: 80px;
			padding: 10px 5%;
			.swiper-wrapper {
				.swiper-slide {
					width: 50px;
					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						gap: 5px;
						width: 50px;
						height: 50px;
						border-radius: 5px;
						background-color: $ededed;
						p {
							color: $b1b8c0;
						}
						p:nth-of-type(1) {
							font-size: 13px;
						}
						p:nth-of-type(2) {
							font-size: 16px;
							font-weight: bold;
						}
						&.checked {
							background-color: $black;
							p {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
	#todolist {
		width: 100%;
		background-color: $efefef;
		padding: 20px 20px 100px;
		.groupWrap {
			margin-bottom: 20px;
			.group {
				position: relative;
				cursor: pointer;
				margin-bottom: 5px;
				width: 100%;
				height: 45px;
				border-radius: 10px;
				padding-left: 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
				.groupContainer {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 45px;
				}
				p.groupName {
					font-size: 18px;
					font-weight: 500;
					color: $white;
					line-height: 45px;
					pointer-events: none;
				}
				span {
					pointer-events: none;
					width: 45px;
					height: 45px;
					display: flex;
					justify-content: center;
					align-items: center;
					i {
						font-size: 20px;
						transition: all 0.5s;
						color: $white;
					}
				}
				&.sky {
					background-color: $sky1;
				}
				&.orange {
					background-color: $orange;
				}
			}
			ul.list {
				width: 100%;
				height: 0;
				overflow: hidden;
				background-color: $white;
				border-radius: 10px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

				li {
					height: 45px;
					display: flex;
					gap: 15px;
					align-items: center;
					padding: 0 15px;
					border-bottom: 1px solid $ededed;
					button {
						cursor: pointer;
						display: block;
						width: 55px;
						height: 45px;
						i {
							pointer-events: none;
							font-size: 30px;
							color: $efefef;
						}
					}
					p {
						flex: 1;
						line-height: 45px;
						padding-bottom: 4px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				button.comment {
					cursor: pointer;
					font-size: 15px;
					width: 100%;
					height: 45px;
					color: $b1b8c0;
				}
			}
			&.active {
				ul.list {
					height: auto;
				}
				.dropDown {
					transform: rotate(-180deg);
				}
			}
		}
		.createGroup {
			width: 100%;
			height: 45px;
			background-color: $white;
			border-radius: 10px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			padding: 0 20px;
			button {
				cursor: pointer;
				width: 100%;
				height: 100%;
				font-size: 20px;
				font-weight: 600;
				color: $b1b8c0;
			}
		}
		.appenderFormWrap {
		}
	}
}
