// 변수 설정
$thumbnail: thumb1, thumb2, thumb3, thumb4, thumb5;

// 색상 설정
$html: #ffa96b;
$white: #fff;

$f2f4f6: #f2f4f6;
$efefef: #efefef;
$ededed: #ededed;
$c4c4c4: #c4c4c4;
$b1b8c0: #b1b8c0;

$black: #000;
$purple: #623ad6;
$orange: #fc822c;
$green: #00b01c;

$sky1: #00b2ff;
$sky2: #0d99ff;
