// 변수 설정
$thumbnail: thumb1, thumb2, thumb3, thumb4, thumb5;

// 색상 설정
// $mainColor: #3478f6;
$mainColor: #1552e9;

$white: #fff;

$f2f4f6: #f2f4f6;
$efefef: #efefef;
$ededed: #ededed;
$c4c4c4: #c4c4c4;
$b1b8c0: #b1b8c0;

$black: #000;
$text: #333;
$sky: #b6e4eb;
$purple: #dac2cf;
$orange: #fdbc96;
$green: #d3e3d6;
