html {
  background-color: #ffa96b;
}

body {
  position: relative;
  background-color: #fff;
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}

body * {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

header .headerWrap {
  display: flex;
  padding: 20px 0 10px 0;
  justify-content: space-between;
}
header .headerWrap .today {
  display: flex;
  gap: 5px;
  align-items: center;
}
header .headerWrap .today p {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
header .headerWrap .today span {
  display: inline-block;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 12px;
}
header .headerWrap ul.subMenu {
  display: flex;
  gap: 20px;
}
header .headerWrap ul.subMenu li a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}
header .headerWrap ul.subMenu li a i {
  font-size: 25px;
  color: #000;
}

main #section1 .swiper.profile {
  width: 100%;
  height: 105px;
  padding: 10px 5%;
}
main #section1 .swiper.profile .swiper-slide {
  width: 60px;
}
main #section1 .swiper.profile .swiper-slide a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb1 {
  background-image: url("../img/thumb1.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb2 {
  background-image: url("../img/thumb2.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb3 {
  background-image: url("../img/thumb3.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb4 {
  background-image: url("../img/thumb4.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb5 {
  background-image: url("../img/thumb5.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
main #section1 .swiper.profile .swiper-slide p {
  font-size: 14px;
  text-align: center;
  color: #b1b8c0;
}
main #section1 .swiper.profile .swiper-slide p.active {
  color: #000;
}
main #section2 .swiper.days {
  width: 100%;
  height: 80px;
  padding: 10px 5%;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide {
  width: 50px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #ededed;
  color: #b1b8c0;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(1) {
  font-size: 13px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked {
  background-color: #000;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked p {
  color: #fff;
}
main #section3 {
  width: 100%;
  background-color: #efefef;
  padding: 20px 20px 100px;
}
main #section3 .groupWrap {
  margin-bottom: 20px;
}
main #section3 .groupWrap .group {
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #section3 .groupWrap .group p.groupName {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 45px;
}
main #section3 .groupWrap .group span {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
main #section3 .groupWrap .group.sky {
  background-color: #00b2ff;
}
main #section3 .groupWrap .group.orange {
  background-color: #fc822c;
}
main #section3 .groupWrap ul.todolist {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #section3 .groupWrap ul.todolist li {
  height: 45px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
}
main #section3 .groupWrap ul.todolist li button {
  height: 45px;
}
main #section3 .groupWrap ul.todolist li button i {
  font-size: 20px;
}
main #section3 .groupWrap ul.todolist li p {
  line-height: 45px;
  padding-bottom: 4px;
}
main #section3 .groupWrap ul.todolist button.comment {
  cursor: pointer;
  width: 100%;
  height: 45px;
  color: #b1b8c0;
}
main #section3 .createGroup {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}
main #section3 .createGroup button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #b1b8c0;
}

footer ul.navigation {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
  border-top: 1px solid #efefef;
}
footer ul.navigation li {
  flex: 1;
}
footer ul.navigation li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
footer ul.navigation li a i {
  font-size: 30px;
  color: #b1b8c0;
}
footer ul.navigation li.selected i {
  color: #000;
}