html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  background-color: #ededed;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  min-height: 90vh;
  background-color: #fff;
}

body * {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

header {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 99;
  width: 100%;
  max-width: 800px;
}
header .headerWrap {
  display: flex;
  padding: 20px 0 10px 0;
  justify-content: space-between;
}
header .headerWrap .today {
  display: flex;
  gap: 5px;
  align-items: center;
}
header .headerWrap .today a {
  font-family: "Anton", sans-serif;
  display: inline-block;
  font-size: 25px;
}
header .headerWrap ul.subMenu {
  display: flex;
  gap: 20px;
}
header .headerWrap ul.subMenu li a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}
header .headerWrap ul.subMenu li a i {
  font-size: 25px;
  color: #000;
}
header .formWrapper {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
header .formWrapper .inputWrapper {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .formWrapper i {
  padding-left: 10px;
  color: #b1b8c0;
}
header .formWrapper input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 5%;
}
header .mypageWrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #efefef;
  position: relative;
}
header .mypageWrapper h3 {
  font-size: 25px;
  font-weight: bold;
}
header .mypageWrapper i {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  color: black;
  padding: 20px 5%;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}

main #section1 {
  margin-top: 55px;
  background-color: #fff;
}
main #section1 .swiper.profile {
  width: 100%;
  height: 105px;
  padding: 10px 5%;
}
main #section1 .swiper.profile .swiper-slide {
  width: 60px;
}
main #section1 .swiper.profile .swiper-slide a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb1 {
  background-image: url("../img/thumb1.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb2 {
  background-image: url("../img/thumb2.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb3 {
  background-image: url("../img/thumb3.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb4 {
  background-image: url("../img/thumb4.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb5 {
  background-image: url("../img/thumb5.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb6 {
  background-image: url("../img/thumb6.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb7 {
  background-image: url("../img/thumb7.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb8 {
  background-image: url("../img/thumb8.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb9 {
  background-image: url("../img/thumb9.png");
  background-size: cover;
}
main #section1 .swiper.profile .swiper-slide .thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
main #section1 .swiper.profile .swiper-slide p {
  font-size: 12px;
  text-align: center;
  color: #b1b8c0;
}
main #section1 .swiper.profile .swiper-slide p.active {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
main #section2 {
  background-color: #fff;
}
main #section2 .swiper.days {
  width: 100%;
  height: 80px;
  padding: 10px 5%;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide {
  width: 50px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #ededed;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p {
  color: #b1b8c0;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(1) {
  font-size: 13px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked {
  background-color: #1552e9;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked p {
  color: #fff;
}
main #todolist {
  width: 100%;
  padding: 20px 20px 100px;
  border-top: 1px solid #ededed;
}
main #todolist .groupWrap {
  margin: auto;
  margin-bottom: 20px;
  max-width: 600px;
}
main #todolist .groupWrap .group {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #todolist .groupWrap .group .groupContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
}
main #todolist .groupWrap .group p.groupName {
  font-size: 16px;
  color: #fff;
  line-height: 35px;
  pointer-events: none;
}
main #todolist .groupWrap .group span {
  pointer-events: none;
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #todolist .groupWrap .group span i {
  font-size: 20px;
  transition: all 0.5s;
  color: #fff;
}
main #todolist .groupWrap .group.sky {
  background-color: #b6e4eb;
}
main #todolist .groupWrap .group.orange {
  background-color: #fdbc96;
}
main #todolist .groupWrap .group.purple {
  background-color: #dac2cf;
}
main #todolist .groupWrap .group.green {
  background-color: #d3e3d6;
}
main #todolist .groupWrap ul.list {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #todolist .groupWrap ul.list > li {
  cursor: pointer;
  height: 35px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #ededed;
}
main #todolist .groupWrap ul.list > li button {
  cursor: pointer;
  display: block;
  width: 55px;
  height: 35px;
}
main #todolist .groupWrap ul.list > li button i {
  pointer-events: none;
  font-size: 30px;
  color: #efefef;
}
main #todolist .groupWrap ul.list > li p {
  flex: 1;
  line-height: 35px;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  font-size: 14px;
}
main #todolist .groupWrap ul.list button.comment {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  height: 35px;
  color: #b1b8c0;
}
main #todolist .groupWrap ul.list button.comment span {
  font-size: 15px;
  color: inherit;
}
main #todolist .groupWrap .commentContainer {
  display: none;
  z-index: 9999;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.25);
}
main #todolist .groupWrap .commentContainer .commentWrapper {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 80%;
  max-height: 600px;
  padding-bottom: 60px;
  bottom: 0;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentTopWrap {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentTopWrap p {
  font-size: 18px;
  font-weight: bold;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentTopWrap p span {
  margin-left: 5px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentTopWrap button {
  cursor: pointer;
  width: 80px;
  height: 70px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentTopWrap button i {
  pointer-events: none;
  font-size: 30px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap {
  width: 100%;
  padding: 0 20px;
  overflow-y: auto;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap ul.commentList {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap ul.commentList li.comment {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap ul.commentList li.comment img {
  width: 30px;
  height: 30px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap ul.commentList li.comment p span {
  color: #1552e9;
  font-weight: bold;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentWrap ul.commentList li.comment p.userId {
  font-weight: bold;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentBottomWrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentBottomWrap form {
  display: flex;
  align-items: center;
  gap: 15px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentBottomWrap form img {
  width: 40px;
  height: 40px;
}
main #todolist .groupWrap .commentContainer .commentWrapper .commentBottomWrap form input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
}
main #todolist .groupWrap .commentContainer.active {
  display: block;
}
main #todolist .groupWrap .commentContainer.active .commentWrapper {
  display: flex;
  -webkit-animation: heightAni 0.8s forwards;
          animation: heightAni 0.8s forwards;
}
@-webkit-keyframes heightAni {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
@keyframes heightAni {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
main #todolist .groupWrap.active ul.list {
  height: auto;
}
main #todolist .groupWrap.active .dropDown {
  transform: rotate(-180deg);
}
main #todolist .createGroup {
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}
main #todolist .createGroup button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #b1b8c0;
}
main #todolist #addGroupFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #addGroupFormWrap form.addGroupForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #dac2cf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
main #todolist #addGroupFormWrap form.addGroupForm input {
  height: 160px;
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
main #todolist #addGroupFormWrap form.addGroupForm input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm input::placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 40px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap {
  display: flex;
  gap: 20px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li {
  cursor: pointer;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i {
  font-size: 30px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.purple {
  color: #dac2cf;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.sky {
  color: #b6e4eb;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.green {
  color: #d3e3d6;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.orange {
  color: #fdbc96;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #1552e9;
}
main #todolist .buttonGroupWrap {
  position: fixed;
  z-index: 997;
  max-width: 800px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}
main #todolist .buttonGroupWrap ul.buttonGroup {
  position: fixed;
  right: 5%;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #todolist .buttonGroupWrap ul.buttonGroup li {
  cursor: pointer;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s;
}
main #todolist .buttonGroupWrap ul.buttonGroup li p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  pointer-events: none;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: white;
  font-size: 25px;
  transition: all 0.5s;
  pointer-events: none;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.white {
  background-color: #fff;
  color: #787878;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.blue {
  background-color: #1552e9;
  color: #fff;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.black {
  background-color: #1552e9;
  color: #fff;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}
main #todolist .buttonGroupWrap ul.buttonGroup li.todoAddBtn, main #todolist .buttonGroupWrap ul.buttonGroup li.groupAddBtn {
  display: none;
}
main #todolist .buttonGroupWrap.active {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li p {
  display: block;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.white {
  background-color: #fff;
  color: #787878;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.blue {
  background-color: #1552e9;
  color: #fff;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.black {
  background-color: #787878;
  transform: rotate(45deg);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li.todoAddBtn {
  display: flex;
  -webkit-animation: todoAddBtn 0.3s;
          animation: todoAddBtn 0.3s;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li.groupAddBtn {
  display: flex;
  -webkit-animation: groupAddBtn 0.3s;
          animation: groupAddBtn 0.3s;
}
@-webkit-keyframes todoAddBtn {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes todoAddBtn {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes groupAddBtn {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes groupAddBtn {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
main #todolist #addTodoFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #addTodoFormWrap form.addTodoForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm input {
  flex: 1;
  padding: 0 20px;
  padding-bottom: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
main #todolist #addTodoFormWrap form.addTodoForm input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup p {
  pointer-events: none;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup .topGroupName {
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 30px;
  border: 1px solid #b1b8c0;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #1552e9;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup .topGroupName p.firstGroupName,
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup .topGroupName i {
  color: #fff;
  transition: all 0.5s;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  right: 0;
  bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList li {
  cursor: pointer;
  width: 130px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #c4c4c4;
  transition: all 0.5s;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList li:nth-last-child(1) {
  border: none;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList li:hover {
  background-color: #1552e9;
  color: #fff;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup.active i {
  transform: rotate(180deg);
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup.active ul.groupList {
  display: flex;
}
main #todolist #addTodoFormWrap form.addTodoForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 0 0 10px 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #1552e9;
}
main #todolist #addTodoFormWrap.active {
  display: block;
}
main #todolist #editTodoFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #editTodoFormWrap form.editTodoForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm input {
  flex: 1;
  padding: 0 20px;
  padding-bottom: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
main #todolist #editTodoFormWrap form.editTodoForm input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup p {
  pointer-events: none;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup .topGroupName {
  display: flex;
  gap: 10px;
  border: 1px solid #b1b8c0;
  border-radius: 5px;
  padding: 5px 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  right: 0;
  bottom: 40px;
  border-radius: 5px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList li {
  width: 130px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #c4c4c4;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList li:nth-last-child(1) {
  border: none;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup.active i {
  transform: rotate(180deg);
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup.active ul.groupList {
  display: flex;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 0 0 10px 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #1552e9;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap button i {
  font-size: 20px;
  color: black;
  pointer-events: none;
}
main #todolist #editTodoFormWrap.active {
  display: block;
}
main #calendarWrap {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
main #calendarWrap .calendar {
  width: 600px;
}
main #calendarWrap .calendar .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 30px;
}
main #calendarWrap .calendar .header .year-month {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
}
main #calendarWrap .calendar .header .nav {
  display: none;
}
main #calendarWrap .calendar .header .nav button.nav-btn {
  width: 28px;
  height: 30px;
  line-height: 34px;
  cursor: pointer;
}
main #calendarWrap .calendar .header .nav button.go-today {
  width: 75px;
}
main #calendarWrap .calendar .header .nav.active {
  display: flex;
}
main #calendarWrap .calendar .main .days {
  display: flex;
  margin: 25px 0 10px;
}
main #calendarWrap .calendar .main .days .day {
  width: 14.2857142857%;
  text-align: center;
}
main #calendarWrap .calendar .main .dates {
  display: none;
  flex-flow: row wrap;
  overflow: hidden;
}
main #calendarWrap .calendar .main .dates .date {
  width: 14.2857142857%;
  padding: 15px;
  text-align: center;
}
main #calendarWrap .calendar .main .dates.active {
  display: flex;
}
main #calendarWrap .calendar .main .weekDays {
  display: none;
  transition: all 0.8s;
  overflow: hidden;
}
main #calendarWrap .calendar .main .weekDays p {
  width: 14.2857142857%;
  padding: 25px;
  text-align: center;
}
main #calendarWrap .calendar .main .weekDays.active {
  display: flex;
}
main #calendarWrap .calendar .day:nth-child(7n+1),
main #calendarWrap .calendar .date:nth-child(7n+1) {
  color: #d13e3e;
}
main #calendarWrap .calendar .day:nth-child(7n),
main #calendarWrap .calendar .date:nth-child(7n) {
  color: #396ee2;
}
main #calendarWrap .calendar .other {
  opacity: 0.3;
}
main #calendarWrap .calendar .today {
  position: relative;
  color: #fff;
  z-index: 0;
}
main #calendarWrap .calendar .today:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  border-radius: 50%;
}
main #searchWrap {
  margin-top: 60px;
}
main .tabWrapper ul.tabMenu {
  display: flex;
  justify-content: center;
}
main .tabWrapper ul.tabMenu li {
  flex: 1;
  text-align: center;
}
main .tabWrapper ul.tabMenu li a {
  display: block;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #b1b8c0;
  color: #b1b8c0;
}
main .tabWrapper ul.tabMenu li a.active {
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
}
main .tabWrapper #tabContent > div {
  display: none;
}
main .tabWrapper #tabContent > div.active {
  display: block;
}
main .tabWrapper #tabContent > div .todoList {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 10px 5%;
  gap: 15px;
  cursor: pointer;
}
main .tabWrapper #tabContent > div .todoList:hover {
  background-color: rgba(187, 187, 187, 0.1);
}
main .tabWrapper #tabContent > div .todoList img {
  width: 50px;
  height: 50px;
}
main .tabWrapper #tabContent > div .todoList .textWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .tabWrapper #tabContent > div .todoList .textWrap h3 {
  font-weight: bold;
}
main .tabWrapper #tabContent > div .todoList .textWrap p {
  color: #b1b8c0;
}
main .tabWrapper #tabContent > div .todoList.dNone {
  display: none;
}
main #myProfile {
  margin-top: 60px;
}
main #myProfile .profileWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 30px 0;
  padding-left: 5%;
}
main #myProfile .profileWrapper img {
  width: 100px;
  height: 100px;
}
main #myProfile .profileWrapper .textWrap {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}
main #myProfile .profileWrapper .textWrap h3 {
  font-size: 20px;
  font-weight: bold;
}
main #myProfile .profileWrapper .textWrap p {
  font-size: 16px;
  color: #b1b8c0;
}
main #myProfile .profileEditor {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myProfile .profileEditor p {
  display: block;
  border-radius: 5px;
  width: 90%;
  line-height: 40px;
  text-align: center;
  background-color: #ededed;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

footer ul.navigation {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
  border-top: 1px solid #efefef;
}
footer ul.navigation li {
  flex: 1;
}
footer ul.navigation li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
footer ul.navigation li a i {
  font-size: 30px;
  color: #b1b8c0;
}
footer ul.navigation li.selected i {
  color: #1552e9;
}