html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  background-color: #ededed;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  background-color: #f2f5fd;
}

body * {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

header {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 99;
  width: 100%;
  max-width: 800px;
}
header .headerWrap {
  display: flex;
  padding: 20px 0 10px 0;
  justify-content: space-between;
}
header .headerWrap .today {
  display: flex;
  gap: 5px;
  align-items: center;
}
header .headerWrap .today p {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
header .headerWrap .today span {
  display: inline-block;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 12px;
}
header .headerWrap ul.subMenu {
  display: flex;
  gap: 20px;
}
header .headerWrap ul.subMenu li a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}
header .headerWrap ul.subMenu li a i {
  font-size: 25px;
  color: #000;
}

main {
  margin-top: 55px;
}
main #section1 {
  background-color: #fff;
}
main #section1 .swiper.profile {
  width: 100%;
  height: 105px;
  padding: 10px 5%;
}
main #section1 .swiper.profile .swiper-slide {
  width: 60px;
}
main #section1 .swiper.profile .swiper-slide a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb1 {
  background-image: url("../img/thumb1.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb2 {
  background-image: url("../img/thumb2.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb3 {
  background-image: url("../img/thumb3.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb4 {
  background-image: url("../img/thumb4.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail.thumb5 {
  background-image: url("../img/thumb5.png");
}
main #section1 .swiper.profile .swiper-slide .thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
main #section1 .swiper.profile .swiper-slide p {
  font-size: 14px;
  text-align: center;
  color: #b1b8c0;
}
main #section1 .swiper.profile .swiper-slide p.active {
  color: #000;
}
main #section2 {
  background-color: #fff;
}
main #section2 .swiper.days {
  width: 100%;
  height: 80px;
  padding: 10px 5%;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide {
  width: 50px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #ededed;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p {
  color: #b1b8c0;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(1) {
  font-size: 13px;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a p:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked {
  background-color: #3478f6;
}
main #section2 .swiper.days .swiper-wrapper .swiper-slide a.checked p {
  color: #fff;
}
main #todolist {
  width: 100%;
  padding: 20px 20px 100px;
}
main #todolist .groupWrap {
  margin: auto;
  margin-bottom: 20px;
  max-width: 600px;
}
main #todolist .groupWrap .group {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #todolist .groupWrap .group .groupContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
main #todolist .groupWrap .group p.groupName {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 45px;
  pointer-events: none;
}
main #todolist .groupWrap .group span {
  pointer-events: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #todolist .groupWrap .group span i {
  font-size: 20px;
  transition: all 0.5s;
  color: #fff;
}
main #todolist .groupWrap .group.sky {
  background-color: #00b2ff;
}
main #todolist .groupWrap .group.orange {
  background-color: #fc822c;
}
main #todolist .groupWrap .group.purple {
  background-color: #623ad6;
}
main #todolist .groupWrap .group.green {
  background-color: #00b01c;
}
main #todolist .groupWrap ul.list {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #todolist .groupWrap ul.list li {
  height: 45px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
}
main #todolist .groupWrap ul.list li button {
  cursor: pointer;
  display: block;
  width: 55px;
  height: 45px;
}
main #todolist .groupWrap ul.list li button i {
  pointer-events: none;
  font-size: 30px;
  color: #efefef;
}
main #todolist .groupWrap ul.list li p {
  flex: 1;
  line-height: 45px;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}
main #todolist .groupWrap ul.list button.comment {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  height: 45px;
  color: #b1b8c0;
}
main #todolist .groupWrap.active ul.list {
  height: auto;
}
main #todolist .groupWrap.active .dropDown {
  transform: rotate(-180deg);
}
main #todolist .createGroup {
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 45px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}
main #todolist .createGroup button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #b1b8c0;
}
main #todolist #addGroupFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #addGroupFormWrap form.addGroupForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #623ad6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
main #todolist #addGroupFormWrap form.addGroupForm input {
  height: 160px;
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
main #todolist #addGroupFormWrap form.addGroupForm input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm input::placeholder {
  color: #fff;
  font-size: 16px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 40px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap {
  display: flex;
  gap: 20px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li {
  cursor: pointer;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i {
  font-size: 30px;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.purple {
  color: #623ad6;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.sky {
  color: #00b2ff;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.green {
  color: #00b01c;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap ul.colorWrap li i.orange {
  color: #fc822c;
}
main #todolist #addGroupFormWrap form.addGroupForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #3478f6;
}
main #todolist .buttonGroupWrap {
  position: fixed;
  z-index: 997;
  max-width: 800px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}
main #todolist .buttonGroupWrap ul.buttonGroup {
  position: fixed;
  right: 5%;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #todolist .buttonGroupWrap ul.buttonGroup li {
  cursor: pointer;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s;
}
main #todolist .buttonGroupWrap ul.buttonGroup li p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  pointer-events: none;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: white;
  font-size: 25px;
  transition: all 0.5s;
  pointer-events: none;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.white {
  background-color: #fff;
  color: #787878;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.blue {
  background-color: #3478f6;
  color: #fff;
}
main #todolist .buttonGroupWrap ul.buttonGroup li i.black {
  background-color: #3478f6;
  color: #fff;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}
main #todolist .buttonGroupWrap ul.buttonGroup li.todoAddBtn, main #todolist .buttonGroupWrap ul.buttonGroup li.groupAddBtn {
  display: none;
}
main #todolist .buttonGroupWrap.active {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li p {
  display: block;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.white {
  background-color: #fff;
  color: #787878;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.blue {
  background-color: #3478f6;
  color: #fff;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li i.black {
  background-color: #787878;
  transform: rotate(45deg);
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li.todoAddBtn {
  display: flex;
  -webkit-animation: todoAddBtn 0.3s;
          animation: todoAddBtn 0.3s;
}
main #todolist .buttonGroupWrap.active ul.buttonGroup li.groupAddBtn {
  display: flex;
  -webkit-animation: groupAddBtn 0.3s;
          animation: groupAddBtn 0.3s;
}
@-webkit-keyframes todoAddBtn {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes todoAddBtn {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes groupAddBtn {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes groupAddBtn {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
main #todolist #addTodoFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #addTodoFormWrap form.addTodoForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm input {
  flex: 1;
  padding: 0 20px;
  padding-bottom: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
main #todolist #addTodoFormWrap form.addTodoForm input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup p {
  pointer-events: none;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup .topGroupName {
  display: flex;
  gap: 10px;
  border: 1px solid #b1b8c0;
  border-radius: 5px;
  padding: 5px 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  right: 0;
  bottom: 40px;
  border-radius: 5px;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList li {
  width: 130px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #c4c4c4;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup ul.groupList li:nth-last-child(1) {
  border: none;
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup.active i {
  transform: rotate(180deg);
}
main #todolist #addTodoFormWrap form.addTodoForm .topWrap .selectGroup.active ul.groupList {
  display: flex;
}
main #todolist #addTodoFormWrap form.addTodoForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 0 0 10px 10px;
}
main #todolist #addTodoFormWrap form.addTodoForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #3478f6;
}
main #todolist #addTodoFormWrap.active {
  display: block;
}
main #todolist #editTodoFormWrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
main #todolist #editTodoFormWrap form.editTodoForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm input {
  flex: 1;
  padding: 0 20px;
  padding-bottom: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
main #todolist #editTodoFormWrap form.editTodoForm input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup p {
  pointer-events: none;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup .topGroupName {
  display: flex;
  gap: 10px;
  border: 1px solid #b1b8c0;
  border-radius: 5px;
  padding: 5px 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  right: 0;
  bottom: 40px;
  border-radius: 5px;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList li {
  width: 130px;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #c4c4c4;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup ul.groupList li:nth-last-child(1) {
  border: none;
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup.active i {
  transform: rotate(180deg);
}
main #todolist #editTodoFormWrap form.editTodoForm .topWrap .selectGroup.active ul.groupList {
  display: flex;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 0 0 10px 10px;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap button {
  cursor: pointer;
  font-weight: bold;
  width: 60px;
  height: 40px;
  color: #3478f6;
}
main #todolist #editTodoFormWrap form.editTodoForm .bottomWrap button i {
  font-size: 20px;
  color: black;
  pointer-events: none;
}
main #todolist #editTodoFormWrap.active {
  display: block;
}

footer ul.navigation {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
  border-top: 1px solid #efefef;
}
footer ul.navigation li {
  flex: 1;
}
footer ul.navigation li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
footer ul.navigation li a i {
  font-size: 30px;
  color: #b1b8c0;
}
footer ul.navigation li.selected i {
  color: #3478f6;
}